.ActivitiesPage {
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    background-color: var(--green);
    border-radius: 2vmin;
  }
  
  .ActivitiesPage aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3vmin 2vmin;
  }